body, html{
  height:100%;
  margin:0;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:#666;
}

.pimg1, .pimg2, .pimg3, .pimg4, .pimg5, .pimg10, .pimg11, .pimg12, .pimg13, .pimg14, .pimg16, .pimg17{
  position:relative;
  opacity:0.70;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;



  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment:fixed;
}

.pimg1{
  background-image:url('../img/image1.png');
  min-height:100%;
}

.pimg2{
  background-image:url('../img/image2.png');
  min-height:600px;
}

.pimg3{
  background-image:url('../img/image4.png');
  min-height:600px;
}

.pimg4{
  background-image:url('../img/image8.png');
  min-height:900px;
}

.pimg5{
  background-image:url('../img/image9.png');
  min-height:900px;
}

.pimg6{
  background-image:url('../img/image11.png');
  min-height:500px;
  position:relative;
  background-position:center;
  background-repeat:no-repeat;
}

.pimg7{
  background-image:url('../img/image3.png');
  min-height:500px;
  position:relative;
  background-position:center;
  background-repeat:no-repeat;
}

.pimg8{
  background-image:url('../img/image12.png');
  min-height:500px;
  position:relative;
  background-position:center;
  background-repeat:no-repeat;
}

.pimg9{
  background-image:url('../img/image13.png');
  min-height:500px;
  position:relative;
  background-position:center;
  background-repeat:no-repeat;
}

.pimg10{
  background-image:url('../img/mouse.png');
  min-height:100%;
}

.pimg11{
  background-image:url('../img/airengine.jpg');
  min-height:900px;
  opacity:0.50;
}

.pimg12{
  background-image:url('../img/dynamic.png');
  min-height:100%;
}

.pimg13{
  background-image:url('../img/bin.png');
  min-height:100%;
}

.pimg14{
  background-image:url('../img/paintings.png');
  min-height:100%;
}

.pimg15{
  background-image:url('../img/controller.png');
  min-height:500px;
  position:relative;
  background-position:center;
  background-repeat:no-repeat;
}

.pimg16{
  background-image:url('../img/FSM.jpg');
  min-height:100%;
}

.pimg17{
  background-image:url('../img/labview.jpg');
  min-height:100%;
}

.section{
  text-align:center;
  padding:50px 80px;
}

.section-light{
  background-color:#f4f4f4;
  color:#666;
}

.section-dark{
  background-color:#282e34;
  color:#ddd;
}

.ptext{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
}

.ptext2{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:#000000;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
}

.ptext .border{
  background-color:#111;
  color:#fff;
  padding:20px;
}

.ptext .border.trans{
  background-color:transparent;
}

@media(max-width:568px){
  .pimg1, .pimg2, .pimg3, .pimg4, .pimg5, .pimg10, .pimg11, .pimg12, .pimg13, .pimg14, .pimg16, .pimg17{
    background-attachment:scroll;
  }
}

header{
  background:#0d0f1b;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom:#2196f3 3px solid;
}

header{
  background:#0d0f1b;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom:#2196f3 3px solid;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:14px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  color:#2196f3;
  font-weight:bold;
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}

/* Media Queries */
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }

  header{
    padding-bottom:20px;
  }

  footer{
    padding:20px;
    position: float;
    bottom: 0;
    color:#ffffff;
    background-color:#0d0f1b;
    text-align: center;
    width: 100%
  }
